input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
}

input[type=radio]{
   margin: 5px 20px;

}

input[type=submit]{
   margin: 5px 20px;
   border:none;
   background-color: #555;
    width: 100px;
   height: 50px;
   color: white;
}

input[type=text]:focus {
  border: 3px solid #555;
}

p{
  margin: 10px 20px;
}

h1{
  margin: 10px 20px;
}
