{% extends "layout.html" %}
{% set active_page = "page1"%}
{% block title %}Page 1{% endblock %}

{% block content %}
  <h1>Length</h1>
  <form action='/response'>
    <feildset>
      <p>Enter a value in meters</p>
      <input type="text" name="input">
      <br><br>
      <p>Select the unit to convert to</p>
      <input type="radio" name="newUnit" value="centimeters"> Centimeters <br>
      <input type="radio" name="newUnit" value="feet"> Feet <br>
      <input type="radio" name="newUnit" value="inches"> Inches <br>
      <br>
      <input type="submit">
    </feildset>
  </form> 

{% endblock %}
