{% extends "layout.html" %}
{% set active_page = "page2"%}
{% block title %}Page 2{% endblock %}

{% block content %}
  <h1>Weight</h1>
  <form action='/response'>
    <feildset>
      <br>
      <p> Enter a value in grams</p>
      <input type="text" name="input">
      <br><br>
      <p>Select the unit to convert to</p>
      <input type="radio" name="newUnit" value="pounds"> Pounds <br>
      <input type="radio" name="newUnit" value="kilograms"> Kilograms <br>
      <input type="radio" name="newUnit" value="ounces"> Ounces<br>
      <br>
      <input type="submit">
    </feildset>
  </form> 
{% endblock %}
